.table {
  width: 100%;
}

.headerCell {
  text-align: left;
}

.tableCell {
  text-align: center;
  border-bottom: solid 1px;
}

/**** Bottom section ****/

.combatStatsContainer {
  /* border-top: solid 2px; */
  display: flex;
  gap: 2rem;
  margin-top: 0.25rem;
}

.combatStatsField {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valueBox {
  border: solid 1px;
  border-radius: 8px;
  min-width: 3rem;
  text-align: center;
}
