:root {
  --border-thickness: 1px;
}

body,
html {
  margin: 0;
}

body {
  max-width: 414px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0.5rem;
  /* height: 100vh;
  overflow: hidden; */
}

/*
Phone widths: 320px to 414px

Standard: 375px to 414px
Small: 320px to 360px
*/
